html {
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: Avenir, 'Segoe UI', Arial, 'Hiragino Sans GB', 冬青黑, 'Microsoft YaHei', 微软雅黑, SimSun, 宋体, Helvetica, Tahoma, 'Arial sans-serif';
    color: #666666;
    font-size: 16px;
    line-height: 1.8;
}

a,
a:hover,
a:active,
a:focus {
    color: #00abe5;
}

.dot a,
.dot a:hover,
.dot a:active,
.dot a:focus {
    text-decoration: none;
}

.dot {
    text-align: center;
    overflow-x: auto;
}

ul {
    padding-left: 30px;
}

.footer {
    padding: 6px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.icon {
    /* 通过设置 font-size 来改变图标大小 */
    width: 1em;
    height: 1em;
    /* 图标和文字相邻时，垂直对齐 */
    vertical-align: -0.15em;
    /* 通过设置 color 来改变 SVG 的颜色/fill */
    fill: currentColor;
    /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
             normalize.css 中也包含这行 */
    overflow: hidden;
}

.sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px;
}

.gravatar {
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 3px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: 4px;
}

.btn-primary {
    background-color: #00abe5;
    border-color: #0099cf;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #0089ba;
    border-color: #0099cf;
}

.navbar-default {
    background-color: #00abe5;
    box-shadow: 0px 3px 5px #888888;
    border: none;
    margin-bottom: 0px;
}

.navbar-default .navbar-brand img {
    display: inline-block;
    margin-top: -20px;
    width: 50px;
    height: 50px;
}

.navbar-default .navbar-brand {
    color: #ffffff;
    font-size: 28px;
    padding-top: 30px;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
    font-size: 16px;
    padding-left: 6px;
    padding-right: 6px;
}

.navbar-default .navbar-right {
    padding-top: 20px;
    padding-right: 20px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #dddddd;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.jumbotron .install span {
    display: block;
    margin: 4px 10px;
    background-color: #333;
    color: #ccc;
    padding: 6px 10px;
    font-family: Menlo, Monaco, Consolas, Courier New, monospace;
    font-size: 14px;
    max-width: 600px;
}

.home-tips {
    height: 150px;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.home-os {
    padding: 20px;
    text-align: center;
    font-size: 60px;
    color: #ccc;
}

.breadcrumb {
    background-color: transparent;
    padding-bottom: 0px;
    margin-bottom: 0px;
    list-style: none;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    border-width: 0px;
    display: none;
    color: #ddd;
    background-color: #eee;
}

.content {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

.sidebar {
    padding-top: 30px;
    width: 200px;
    float: left;
}

.sidebar .search {
    border-width: 0px 0px 1px 0px;
    border-color: #ddd;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.sidebar .panel a:focus,
.sidebar .panel a:hover {
    text-decoration: none;
}

.sidebar .panel-body {
    padding-left: 0px;
    font-size: 14px;
}

.sidebar .panel-body a:hover {
    background-color: #eeeeee;
}

.sidebar ul {
    padding-left: 15px;
    list-style: none;
}

.tocify {
    /*max-height: 100%;*/
    overflow: auto;
    top: 0px;
    display: inline-block;
    border-left: 1px solid #eee;
    width: 190px;
}

.fixed_tocify {
    position: fixed;
}


/* The Table of Contents is composed of multiple nested unordered lists.  These styles remove the default styling of an unordered list because it is ugly. */

.tocify ul,
.tocify li {
    list-style: none;
    font-size: 14px;
    margin: 0;
    padding: 0;
}


/* Top level header elements */

.tocify-header {
    /*text-indent: 10px;*/
}


/* Top level subheader elements.  These are the first nested items underneath a header element. */

.tocify-subheader {
    text-indent: 10px;
    /*display: none;*/
}


/* Further indents second level subheader elements. */

.tocify-subheader .tocify-subheader {
    text-indent: 20px;
}


/* Further indents third level subheader elements. You can continue this pattern if you have more nested elements. */

.tocify-subheader .tocify-subheader .tocify-subheader {
    text-indent: 30px;
}


/* Twitter Bootstrap Override Style */

.nav-list>li>a,
.nav-list .nav-header {
    margin: 0px;
}


/* Twitter Bootstrap Override Style */

.sidebar .panel a,
.nav-list>li>a {
    display: block;
    padding: 2px;
    color: #666666;
}

.nav-list li {
    border-left: 1px solid #fff;
}

.panel li.active,
.nav-list li.active {
    border-left: 1px solid #00abe5;
    background-color: #eee;
}

pre {
    padding: 0px;
}

pre code {
    display: block;
    margin: 0;
    padding: 6px;
    tab-size: 4;
    overflow-x: auto;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
}

pre code {
    margin-left: 30px;
    border-left: 1px solid #ccc;
}

pre div.line-numbers {
    position: absolute;
    margin-left: -35px;
    width: 30px;
    padding-right: 7px;
    text-align: right;
    color: #bbb;
    user-select: none;
}

@media (min-width: 480px) {
    .home-tips {
        width: 50%;
        float: left;
    }
}

@media (min-width: 768px) {
    .content {
        width: 508px;
    }
    .home-tips {
        width: 33.333333%;
    }
}

@media (min-width: 992px) {
    .content {
        width: 532px;
    }
}

@media (min-width: 1200px) {
    .content {
        width: 740px;
    }
}

@media (max-width:767px) {
    .navbar-default .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar-default .navbar-toggle {
        margin-top: 25px;
    }
    .navbar-default .navbar-right {
        padding-top: 0px;
    }
    .jumbotron .install span {
        font-size: 12px;
    }
}

@media (max-width:479px) {
    body {
        font-size: 14px;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 20px;
    }
    .navbar-default .navbar-brand img {
        margin-top: -15px;
        width: 40px;
        height: 40px;
    }
    .navbar-default .navbar-brand {
        font-size: 20px;
        padding-top: 20px;
    }
    .navbar-default .navbar-toggle {
        margin-top: 10px;
    }
    .jumbotron .install {
        display: none;
    }
    .home-os {
        font-size: 40px;
    }
    .content,
    .breadcrumb {
        padding-right: 0px;
        padding-left: 0px;
    }
}