.download-page {
    height: 100%;
}

.download-type {
    width: 70%;
    margin-left: 10px;
}

.download-menu-item {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.download-title {
    width: 150px !important;
    background-color: #4892cc;
    color: white;
    padding-left: 10px;
    height: 40px;
    line-height: 40px;
    margin-right: 15px;
}

.download-value {
    flex: 1;
}

.download-detail {
    min-width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-right: 20px;
    background-color: white;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.download-detail-os-default {
    background-color: #0088cc;
    color: #ffffff;
}

.download-detail-target-hidden {
    display: none;
}

.download-code-view {
    margin-top: 10px;
    margin-bottom: 199.5px;
    display: flex;
    flex: 1;
    flex-direction: row;
}

.download-code-title {
    width: 150px !important;
    padding-left: 10px;
    margin-right: 15px;
}

.download-code-value {
    flex: 1;
    cursor: pointer;
}

.download-code-detail {
    margin-right: 40px;
    display: inline-block;
    margin-bottom: 20px;
    cursor: pointer;
}

.download-detail-type {
    cursor: pointer;
    margin-right: 40px;
    height: 40px;
    line-height: 40px;
    display: none;
    margin-bottom: 20px;
}

.download-detail-tips {
    height: 40px;
    line-height: 40px;
    opacity: 0.75;
    color: #333333;
    margin-bottom: 20px;
}

.download-btn-primary,
.download-btn-default {
    padding: 11px 20px 10px 20px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff;
}

.download-btn-primary {
    background-color: #0088cc;
    border-color: #0099cf;
}

.download-btn-default {
    background: transparent;
    border-color: #ffffff;
}

.download-btn-primary:hover,
.download-btn-primary:focus {
    background-color: #1199dd;
}

.download-detail-arch[disabled] {
    opacity: 0.75;
    background-color: #f5f5f5;
    color: #333333
}

.download-detail-type[disabled] {
    opacity: 0.75;
    background-color: #f5f5f5;
}

.download-detail-arch-disabled {
    opacity: 0.75;
    background-color: #f5f5f5;
}

.container-header {
    color: #999999;
}

.container-detail {
    color: #333333;
    margin-bottom: 10px;
    font-weight: 500;
}

.download-change-log {
    cursor: pointer;
}