.searchbox {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 32px!important;
    white-space: nowrap;
    box-sizing: border-box;
    visibility: visible!important
}

.searchbox .algolia-autocomplete {
    display: block;
    width: 100%;
    height: 100%
}

.searchbox__wrapper {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative
}

.searchbox__input {
    display: inline-block;
    box-sizing: border-box;
    -webkit-transition: box-shadow .4s ease, background .4s ease;
    transition: box-shadow .4s ease, background .4s ease;
    border: 0;
    border-radius: 16px;
    box-shadow: inset 0 0 0 1px #ccc;
    background: #fff!important;
    padding: 0;
    padding-right: 26px;
    padding-left: 32px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    white-space: normal;
    font-size: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.searchbox__input::-webkit-search-cancel-button,
.searchbox__input::-webkit-search-decoration,
.searchbox__input::-webkit-search-results-button,
.searchbox__input::-webkit-search-results-decoration {
    display: none
}

.searchbox__input:hover {
    box-shadow: inset 0 0 0 1px #b3b3b3
}

.searchbox__input:active,
.searchbox__input:focus {
    outline: 0;
    box-shadow: inset 0 0 0 1px #aaa;
    background: #fff
}

.searchbox__input::-webkit-input-placeholder {
    color: #aaa
}

.searchbox__input::-moz-placeholder {
    color: #aaa
}

.searchbox__input:-ms-input-placeholder {
    color: #aaa
}

.searchbox__input::placeholder {
    color: #aaa
}

.searchbox__submit {
    position: absolute;
    top: 0;
    margin: 0;
    border: 0;
    border-radius: 16px 0 0 16px;
    background-color: rgba(69, 142, 225, 0);
    padding: 0;
    width: 32px;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    right: inherit;
    left: 0
}

.searchbox__submit:before {
    display: inline-block;
    margin-right: -4px;
    height: 100%;
    vertical-align: middle;
    content: ""
}

.searchbox__submit:active,
.searchbox__submit:hover {
    cursor: pointer
}

.searchbox__submit:focus {
    outline: 0
}

.searchbox__submit svg {
    width: 14px;
    height: 14px;
    vertical-align: middle;
    fill: #6d7e96
}

.searchbox__reset {
    display: block;
    position: absolute;
    top: 8px;
    right: 8px;
    margin: 0;
    border: 0;
    background: none;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    fill: rgba(0, 0, 0, .5)
}

.searchbox__reset.hide {
    display: none
}

.searchbox__reset:focus {
    outline: 0
}

.searchbox__reset svg {
    display: block;
    margin: 4px;
    width: 8px;
    height: 8px
}

.searchbox__input:valid~.searchbox__reset {
    display: block;
    -webkit-animation-name: a;
    animation-name: a;
    -webkit-animation-duration: .15s;
    animation-duration: .15s
}

@-webkit-keyframes a {
    0% {
        -webkit-transform: translate3d(-20%, 0, 0);
        transform: translate3d(-20%, 0, 0);
        opacity: 0
    }
    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@keyframes a {
    0% {
        -webkit-transform: translate3d(-20%, 0, 0);
        transform: translate3d(-20%, 0, 0);
        opacity: 0
    }
    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

.algolia-autocomplete.algolia-autocomplete-right .ds-dropdown-menu {
    right: 0!important;
    left: inherit!important
}

.algolia-autocomplete.algolia-autocomplete-right .ds-dropdown-menu:before {
    right: 48px
}

.algolia-autocomplete.algolia-autocomplete-left .ds-dropdown-menu {
    left: 0!important;
    right: inherit!important
}

.algolia-autocomplete.algolia-autocomplete-left .ds-dropdown-menu:before {
    left: 48px
}

.algolia-autocomplete .ds-dropdown-menu {
    top: -6px;
    border-radius: 4px;
    margin: 6px 0 0;
    padding: 0;
    text-align: left;
    height: auto;
    position: relative;
    background: transparent;
    border: none;
    z-index: 1;
    max-width: 600px;
    min-width: 500px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .2), 0 2px 3px 0 rgba(0, 0, 0, .1)
}

.algolia-autocomplete .ds-dropdown-menu:before {
    display: block;
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    background: #fff;
    z-index: 2;
    top: -7px;
    border-top: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-radius: 2px
}

.algolia-autocomplete .ds-dropdown-menu .ds-suggestions {
    position: relative;
    z-index: 2;
    margin-top: 8px
}

.algolia-autocomplete .ds-dropdown-menu .ds-suggestion {
    cursor: pointer
}

.algolia-autocomplete .ds-dropdown-menu .ds-suggestion.ds-cursor .algolia-docsearch-suggestion.suggestion-layout-simple,
.algolia-autocomplete .ds-dropdown-menu .ds-suggestion.ds-cursor .algolia-docsearch-suggestion:not(.suggestion-layout-simple) .algolia-docsearch-suggestion--content {
    background-color: rgba(69, 142, 225, .05)
}

.algolia-autocomplete .ds-dropdown-menu [class^=ds-dataset-] {
    position: relative;
    border: 1px solid #d9d9d9;
    background: #fff;
    border-radius: 4px;
    overflow: auto;
    padding: 0 8px 8px
}

.algolia-autocomplete .ds-dropdown-menu * {
    box-sizing: border-box
}

.algolia-autocomplete .algolia-docsearch-suggestion {
    position: relative;
    padding: 0 8px;
    background: #fff;
    color: #02060c;
    overflow: hidden
}

.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
    color: #174d8c;
    background: rgba(143, 187, 237, .1);
    padding: .1em .05em
}

.algolia-autocomplete .algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--category-header-lvl0 .algolia-docsearch-suggestion--highlight,
.algolia-autocomplete .algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--category-header-lvl1 .algolia-docsearch-suggestion--highlight {
    color: inherit;
    background: inherit
}

.algolia-autocomplete .algolia-docsearch-suggestion--text .algolia-docsearch-suggestion--highlight {
    padding: 0 0 1px;
    background: inherit;
    box-shadow: inset 0 -2px 0 0 rgba(69, 142, 225, .8);
    color: inherit
}

.algolia-autocomplete .algolia-docsearch-suggestion--content {
    display: block;
    float: right;
    width: 70%;
    position: relative;
    padding: 5.33333px 0 5.33333px 10.66667px;
    cursor: pointer
}

.algolia-autocomplete .algolia-docsearch-suggestion--content:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    height: 100%;
    width: 1px;
    background: #ddd;
    left: -1px
}

.algolia-autocomplete .algolia-docsearch-suggestion--category-header {
    position: relative;
    border-bottom: 1px solid #ddd;
    display: none;
    margin-top: 8px;
    padding: 4px 0;
    font-size: 1em;
    color: #33363d
}

.algolia-autocomplete .algolia-docsearch-suggestion--wrapper {
    width: 100%;
    float: left;
    padding: 8px 0 0
}

.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
    float: left;
    width: 30%;
    display: none;
    padding-left: 0;
    text-align: right;
    position: relative;
    padding: 5.33333px 10.66667px;
    color: #a4a7ae;
    font-size: .9em;
    word-wrap: break-word
}

.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    height: 100%;
    width: 1px;
    background: #ddd;
    right: 0
}

.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column .algolia-docsearch-suggestion--highlight {
    background-color: inherit;
    color: inherit
}

.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-inline {
    display: none
}

.algolia-autocomplete .algolia-docsearch-suggestion--title {
    margin-bottom: 4px;
    color: #02060c;
    font-size: .9em;
    font-weight: 700
}

.algolia-autocomplete .algolia-docsearch-suggestion--text {
    display: block;
    line-height: 1.2em;
    font-size: .85em;
    color: #63676d
}

.algolia-autocomplete .algolia-docsearch-suggestion--no-results {
    width: 100%;
    padding: 8px 0;
    text-align: center;
    font-size: 1.2em
}

.algolia-autocomplete .algolia-docsearch-suggestion--no-results:before {
    display: none
}

.algolia-autocomplete .algolia-docsearch-suggestion code {
    padding: 1px 5px;
    font-size: 90%;
    border: none;
    color: #222;
    background-color: #ebebeb;
    border-radius: 3px;
    font-family: Menlo, Monaco, Consolas, Courier New, monospace
}

.algolia-autocomplete .algolia-docsearch-suggestion code .algolia-docsearch-suggestion--highlight {
    background: none
}

.algolia-autocomplete .algolia-docsearch-suggestion.algolia-docsearch-suggestion__main .algolia-docsearch-suggestion--category-header,
.algolia-autocomplete .algolia-docsearch-suggestion.algolia-docsearch-suggestion__secondary .algolia-docsearch-suggestion--subcategory-column {
    display: block
}

.algolia-autocomplete .suggestion-layout-simple.algolia-docsearch-suggestion {
    border-bottom: 1px solid #eee;
    padding: 8px;
    margin: 0
}

.algolia-autocomplete .suggestion-layout-simple .algolia-docsearch-suggestion--content {
    width: 100%;
    padding: 0
}

.algolia-autocomplete .suggestion-layout-simple .algolia-docsearch-suggestion--content:before {
    display: none
}

.algolia-autocomplete .suggestion-layout-simple .algolia-docsearch-suggestion--category-header {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    border: none
}

.algolia-autocomplete .suggestion-layout-simple .algolia-docsearch-suggestion--category-header-lvl0,
.algolia-autocomplete .suggestion-layout-simple .algolia-docsearch-suggestion--category-header-lvl1 {
    opacity: .6;
    font-size: .85em
}

.algolia-autocomplete .suggestion-layout-simple .algolia-docsearch-suggestion--category-header-lvl1:before {
    background-image: url('data:image/svg+xml;utf8,<svg width="10" height="10" viewBox="0 0 20 38" xmlns="http://www.w3.org/2000/svg"><path d="M1.49 4.31l14 16.126.002-2.624-14 16.074-1.314 1.51 3.017 2.626 1.313-1.508 14-16.075 1.142-1.313-1.14-1.313-14-16.125L3.2.18.18 2.8l1.31 1.51z" fill-rule="evenodd" fill="%231D3657" /></svg>');
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block
}

.algolia-autocomplete .suggestion-layout-simple .algolia-docsearch-suggestion--wrapper {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0
}

.algolia-autocomplete .suggestion-layout-simple .algolia-docsearch-suggestion--duplicate-content,
.algolia-autocomplete .suggestion-layout-simple .algolia-docsearch-suggestion--subcategory-column,
.algolia-autocomplete .suggestion-layout-simple .algolia-docsearch-suggestion--subcategory-inline {
    display: none!important
}

.algolia-autocomplete .suggestion-layout-simple .algolia-docsearch-suggestion--title {
    margin: 0;
    color: #458ee1;
    font-size: .9em;
    font-weight: 400
}

.algolia-autocomplete .suggestion-layout-simple .algolia-docsearch-suggestion--title:before {
    content: "#";
    font-weight: 700;
    color: #458ee1;
    display: inline-block
}

.algolia-autocomplete .suggestion-layout-simple .algolia-docsearch-suggestion--text {
    margin: 4px 0 0;
    display: block;
    line-height: 1.4em;
    padding: 5.33333px 8px;
    background: #f8f8f8;
    font-size: .85em;
    opacity: .8
}

.algolia-autocomplete .suggestion-layout-simple .algolia-docsearch-suggestion--text .algolia-docsearch-suggestion--highlight {
    color: #3f4145;
    font-weight: 700;
    box-shadow: none
}

.algolia-autocomplete .algolia-docsearch-footer {
    height: 10px;
    z-index: 3;
    margin-top: 10.66667px;
    float: right;
    font-size: 0;
    line-height: 0
}

.algolia-autocomplete .algolia-docsearch-footer--logo {
    display: none
}

@media (max-width:547px) {
    .algolia-autocomplete .ds-dropdown-menu {
        min-width: 350px;
    }
    .algolia-autocomplete .algolia-docsearch-suggestion--content {
        width: 100%;
    }
    .algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
        height: 0px;
        visibility: hidden;
    }
}