@import '~highlight.js/styles/github.css';
.sidebar {
    padding-top: 30px;
}

.sidebar .search {
    border-width: 0px 0px 1px 0px;
    border-color: #ddd;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.sidebar .panel a {
    display: block;
}

.sidebar .panel a:focus,
.sidebar .panel a:hover {
    text-decoration: none;
}

.sidebar .panel-body {
    padding-left: 0px;
}

.sidebar .panel-body a:hover {
    background-color: #eeeeee;
}

.sidebar ul {
    padding-left: 15px;
    list-style: none;
}

.tocify {
    max-height: 100%;
    overflow: auto;
    display: inline-block;
    border-left: 1px solid #eee;
    min-width: 200px;
}

.fixed_tocify {
    top: 0px;
    position: fixed;
}


/* The Table of Contents is composed of multiple nested unordered lists.  These styles remove the default styling of an unordered list because it is ugly. */

.tocify ul,
.tocify li {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* Top level header elements */

.tocify-header {
    /*text-indent: 10px;*/
}


/* Top level subheader elements.  These are the first nested items underneath a header element. */

.tocify-subheader {
    text-indent: 10px;
    /*display: none;*/
}


/* Makes the font smaller for all subheader elements. */

.tocify-subheader li {
    font-size: 12px;
}


/* Further indents second level subheader elements. */

.tocify-subheader .tocify-subheader {
    text-indent: 20px;
}


/* Further indents third level subheader elements. You can continue this pattern if you have more nested elements. */

.tocify-subheader .tocify-subheader .tocify-subheader {
    text-indent: 30px;
}


/* Twitter Bootstrap Override Style */

.nav-list>li>a,
.nav-list .nav-header {
    margin: 0px;
}


/* Twitter Bootstrap Override Style */

.nav-list>li>a {
    padding: 5px;
}

.nav-list li {
    border-left: 1px solid #fff;
}

.nav-list li.active {
    border-left: 1px solid #00abe5;
    background-color: #eee;
}