@import '~highlight.js/styles/github.css';
.sidebar {
    padding-top: 30px;
}

.sidebar .search {
    border-width: 0px 0px 1px 0px;
    border-color: #ddd;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.sidebar .panel a {
    display: block;
}

.sidebar .panel a:focus,
.sidebar .panel a:hover {
    text-decoration: none;
}

.sidebar .panel-body {
    padding-left: 0px;
}

.sidebar .panel-body a:hover {
    background-color: #eeeeee;
}

.sidebar ul {
    padding-left: 15px;
    list-style: none;
}